$button-height: 30px;
$button-width: 230px;
$button-color-yellow: #FFE400;

.button {
    width: 75%;
    height: 1.4 * $button-height;
    line-height: 1.4 * $button-height;
    font-size: 2rem;
    @include respond-to(tablet) {
        height: $button-height;
        width: $button-width;
        font-size: 1.4rem;
        line-height: $button-height;
    }

    &-order {
        box-shadow: 0 2px 0 rgba(0,0,0,0.3);
        border-width: 0;
        border-color: transparent;
        background-color: $button-color-yellow;
        border-radius: 4px;
        padding-bottom: 9px;
        cursor: pointer;

        &:hover {
            background: darken($button-color-yellow, 5%);
            box-shadow: none;
        }
    }
}
