$header-height: 80px;
$logo-size: $header-height;
$header-background: #f6f6f6;

.header-site {
    width: 100%;
    display: flex;
    height: $header-height;
    margin: 20px 0;
    background: $header-background;
    overflow: hidden;

    div {
        height: 100%;
    }

    &-logo {
        width: 2 * $logo-size;
        height: $logo-size;
        background: $main-color;
        text-align: center;

        img {
            width: 1.4 * $logo-size;
            height: $logo-size;
        }
    }

    &-name {
        flex: 1;
        text-align: center;

        h1 {
            font-family: Roboto cursive;
        }
    }

    &-navigation {
        flex: 2;
        display: flex;
        flex-flow: row;

        div {
            height: $header-height;
            flex: 1;
            border: 1px solid #ededed;
        }

        div:nth-child(2n) {
            background: $blue;

            &:hover {
                background: darken($blue, 5%);
            }
        }

        div:nth-child(2n + 1) {
            background: $red;

            &:hover {
                background: darken($red, 5%);
            }
        }

        a {
            text-align: center;
            line-height: $header-height;
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            font-size: 1.5rem;
            color: $white;
            font-style: italic;
            font-weight: 500;
        }
    }

    h2 {
        font-size: 1.2rem;
    }
}
