$navigation-height: 60px;

.navigation-site {
    @include respond-to(tablet) {
        flex-flow: row;
        margin-top: 0;
        padding: 0 100px;
        display: flex;
    }
    margin-top: 20px;
    display: none;
    flex-flow: column;
    background: $blue;
    font-family: Comfortaa;

    div {
        border-bottom: 1px solid $main-color;
        height: $navigation-height;
        flex: 1;
        @include respond-to(tablet) {
            border: none;
        }
    }

    a {
        text-align: center;
        line-height: $navigation-height;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-size: 1.4rem;
        color: $white;
        font-weight: 500;

        &:hover {
            background: $main-color;
            color: $red;
        }
    }
}
