// Font Sizes
$font_size_xs: 12px;
$font_size_s: 14px;
$font_size_m: 16px;
$font_size_xm: 18px;
$font_size_l: 20px;
$font_size_xl: 24px;
$font_size_xxl: 32px;
$font_size_extra: 46px;

// Colors
$white: #ffffff;
$yellow: #F6E215;
$black: #000;

$text-color: $black;

// Media sizes
$mobile: 425px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$superHd: 8192px;
