@import 'variables';

html {
  font-size: $min-size;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.shadow {
  background: $background-color-2;
}

.header {
  &-site {
    width: 100%;

    h2 {
      font-size: 1.2rem;
    }
  }

  &-section {
    width: 100%;

    h2 {
      font-size: 1.2rem;
    }
  }
}

.navigation {
  &-site {
    width: 100%;
  }
}

.section {
  padding: 20px 0;

  &-container {
    width: 100%;

    &-cards {

    }
  }
}

.footer {
  &-site {
    width: 100%;

    &-item {

    }
  }
}
