// main
$color-1: #f9f8f7;
$min-size: 10px;

// background colors
$background-color-1: #f9f8f7;
$background-color-2: #F6E215;

//font colors
$font-color-1: #ffffff;
$font-color-2: #191919;
$font-color-3: #B4B4AE;
