.footer-site {
    width: 100%;
    display: flex;
    border-top: 1px solid #b9b9b9;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 1.2rem;

    div {
        flex: 1;
        align-self: center;
    }

    .site-map {
        text-align: center;
    }

    &-item {
        &-contacts {
            text-align: center;
            order: 3;
            @include respond-to(tablet) {
                order: 3;
            }

            &-container {
                margin: 5px;
                text-align: center;
                font-size: 3rem;
                @include respond-to(tablet) {
                    font-size: 2.4rem;
                    padding-top: 20px;
                }
            }

            .phone-number-container {
                display: inline-block;
                margin: 5px 0 10px;

                span {
                    vertical-align: middle;
                }

                .phone-number {
                    font-weight: 600;
                    font-size: 2.4rem;
                    @include respond-to(tablet) {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}
