.about-us {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;

    .banner {
        text-align: center;

        h2 {
            display: inline-block;
            font-weight: 500;
            font-family: cursive;
            font-size: 2.5rem;
            font-weight: bold;
            @include respond-to(tablet) {
                margin: 0 0 10px;
                border-bottom: 2px solid $red;
                font-weight: 400;
                font-size: 2.5rem;
            }
        }
    }

    &-features {
        margin-top: 10px;
        width: 100%;

        &-list {
            list-style: none;
            margin: auto;
            display: flex;
            padding: 0;
            flex-flow: column;
            @include respond-to(tablet) {
                flex-flow: row wrap;
            }

            &-item {
                flex: 1 30%;
                display: flex;
                margin: 20px;
                position: relative;
                font-family: Roboto;

                span {
                    align-self: center;
                    flex: 15;
                    font-size: 1.8rem;
                    @include respond-to(tablet) {
                        font-size: 1.4rem;
                    }
                }

                &::before {
                    content: '\f111';
                    font-family: FontAwesome;
                    flex: 1;
                    color: $blue;
                    font-size: 0.7rem;
                    align-self: center;
                }
            }
        }
    }
}
