$order-popup-background: #ffffff;
$order-popup-width-sm: 90%;
$order-popup-width: 40%;
$order-popup-height: 450px;
$order-close-button-size: 30px;

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

.order-popup {
    z-index: 3;
    display: none;
    position: fixed;
    padding-top: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    @include respond-to(tablet) {
        padding-top: 100px;
    }

    &-window {
        width: $order-popup-width-sm;
        margin: auto;
        padding: 0 0 20px 20px;
        background: $order-popup-background;
        box-shadow: 0 20px 40px 0 rgba(0,0,0,.3);
        border-radius: 5px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        position: relative;
        animation: animatebottom 0.4s;
        font-size: 1.3rem;
        @include respond-to(tablet) {
            width: $order-popup-width;
            height: $order-popup-height;
        }
    }

    &-header {
        clear: both;
    }

    &-close {
        float: right;
        width: $order-close-button-size;
        height: $order-close-button-size;
        line-height: $order-close-button-size;
        text-align: center;
        font-size: 2rem;
        background: $red;
        color: #ffffff;
        cursor: pointer;

        &:hover {
            background: #A4142B;
        }
    }

    &-content {
        padding: 10px;
        box-sizing: border-box;

        &-title {
            text-align: center;

            h2 {}
        }

        &-body {
            &-line {
                width: 100%;
                display: flex;
                flex-flow: row;
                margin: 15px 0;

                &-name {
                    align-self: center;
                    flex: 4;
                    font-weight: bold;
                    &:after {
                        content: ':';
                    }
                    @include respond-to(tablet) {
                        flex: 2;
                    }
                }

                &-value {
                    align-self: center;
                    flex: 7;
                    display: flex;
                    flex-flow: row wrap;
                    @include respond-to(tablet) {
                        flex: 10;
                    }

                    &-item {
                        margin-left: 10px;
                    }
                }
            }

            &-info {
                width: 100%;
                display: flex;
                margin: 20px 0;
                flex-flow: row wrap;
                @include respond-to(tablet) {
                    flex-flow: row;
                }

                & > div {
                    margin: 5px 0;

                    @include respond-to(tablet) {
                        margin: 0;
                    }
                }

                & > div:not(:first-child) {
                    margin-left: 0;
                    margin-right: 0;
                    @include respond-to(tablet) {
                        margin-left: 20px;
                    }
                }

                & > div:first-child {
                    margin-right: 20px;
                    @include respond-to(tablet) {
                        margin: 0;
                    }
                }

                input {
                    width: 100%;
                    height: 40px;
                    border-radius: 10px;
                    outline: none;
                    border: 1px solid #ededed;
                    box-sizing: border-box;
                    font-size: 1.5rem;
                    padding-left: 15px;

                    &:focus {
                        border: 1px solid $blue;
                    }
                }

                label {
                    display: inline-block;
                    width: 100%;
                    font-weight: bold;
                    padding-bottom: 5px;
                    &:after {
                        content: ':';
                    }
                }

                &-number {
                    width: 30%;
                    @include respond-to(tablet) {
                        flex: 1;
                    }
                }

                &-phone {
                     @include respond-to(tablet) {
                         flex: 2;
                     }
                }

                &-contact {
                    width: 100%;
                    @include respond-to(tablet) {
                        flex: 3;
                    }
                }
            }
        }
    }

    &-bottom {
        width: 100%;
        text-align: center;
    }

    &-button {
        width: 300px;
        height: 50px;
        line-height: 50px;
        font-size: 1.6rem;
        border-radius: 50px;
        text-transform: uppercase;
        outline: none;

        span {
            vertical-align: middle;
        }
    }

    .icon-loader {
        display: none;
        vertical-align: middle;

        img {
            width: 100%;
            height: 100%;
            align-self: center;
        }
    }
}
